language: php
dist: trusty

cache:
  directories:
    - $HOME/.composer/cache
branches:
  except:
    - /^analysis-.*$/
    - /^patch-.*$/

php:
    - 5.5
    - 7.1
    - hhvm
env:
  global:
    - TEST_COMMAND="composer test"
  matrix:
    - SYMFONY_VERSION=3.3.*
    - SYMFONY_VERSION=2.8.*

matrix:
  fast_finish: true
  include:
    - php: 5.5
      env: COMPOSER_FLAGS="--prefer-stable --prefer-lowest" COVERAGE=true TEST_COMMAND="composer test-ci" SYMFONY_VERSION=2.8.*
    - php: 7.1
      env: SYMFONY_VERSION=4.0.*

install:
    - composer require symfony/symfony:${SYMFONY_VERSION} --no-update
    - travis_retry composer update ${COMPOSER_FLAGS} --prefer-dist --no-interaction

script:
    - $TEST_COMMAND

after_success:
    - if [[ $COVERAGE = true ]]; then wget https://scrutinizer-ci.com/ocular.phar; fi
    - if [[ $COVERAGE = true ]]; then php ocular.phar code-coverage:upload --format=php-clover build/coverage.xml; fi
