parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$bundle$#"
			count: 1
			path: src/AppKernel.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$options$#"
			count: 1
			path: src/BaseBundleTestCase.php

		-
			message: "#^Comparison operation \"\\>\\=\" between 40409 and 50100 is always false\\.$#"
			count: 1
			path: src/config/parameters.php

		-
			message: "#^Variable \\$container might not be defined\\.$#"
			count: 3
			path: src/config/parameters.php

