parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\>\\=\" between 50306 and 50100 is always true\\.$#"
			count: 1
			path: src/config/parameters.php

		-
			message: "#^Variable \\$container might not be defined\\.$#"
			count: 3
			path: src/config/parameters.php

