name: Tests
on: [ pull_request ]

jobs:
  tests:
    name: PHPUnit PHP ${{ matrix.php }} ${{ matrix.dependency }} (Symfony ${{ matrix.symfony }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
        dependency:
          - ''
          - 'lowest'
        symfony:
          - '3.4.*'
          - '4.4.*'
          - '5.0.*'
          - '6.0.*'
        exclude:
          - php: '7.2'
            symfony: '3.4.*'
            dependency: 'lowest'
          - php: '7.2'
            symfony: '4.4.*'
            dependency: 'lowest'
          - php: '7.2'
            symfony: '6.0.*'
          - php: '7.3'
            symfony: '3.4.*'
          - php: '7.3'
            symfony: '4.4.*'
          - php: '7.3'
            symfony: '6.0.*'
          - php: '7.4'
            symfony: '3.4.*'
          - php: '7.4'
            symfony: '4.4.*'
          - php: '7.4'
            symfony: '6.0.*'
          - php: '8.0'
            symfony: '3.4.*'
          - php: '8.0'
            symfony: '4.4.*'
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: composer, flex, pcov

      - name: Configure Symfony
        run: composer config extra.symfony.require "${{ matrix.symfony }}"

      - name: Prefer unstable Composer dependencies if Symfony 6.0
        if: matrix.symfony == '6.0.x'
        run: composer config prefer-stable false

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ matrix.php }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ matrix.php }}-composer-

      - name: Update project dependencies
        if: matrix.dependency == ''
        run: composer update --no-progress --ansi --prefer-stable

      - name: Update project dependencies lowest
        if: matrix.dependency == 'lowest'
        run: composer update --no-progress --ansi --prefer-stable --prefer-lowest

      - name: Validate composer
        run: composer validate --strict --no-check-lock

      - name: Run tests
        run: vendor/bin/phpunit
